* {
  box-sizing: border-box;
  font-size: 16px;
}

header {
  height: 93px;
  border-bottom: 1px solid black;
}

section {
  max-width: 1100px;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
}
section.status {
  max-width: 900px;
}

section > .status_wait > button {
  border-radius: 10px;
  width: 7rem;
  height: 5rem;
}
section > .status_wait > button:hover {
  color: whitesmoke;
  background-color: #002ead;
  transition: 0.7s;
}

section > .status_confirmed > button {
  border-radius: 10px;
  width: 7rem;
  height: 5rem;
}
section > .status_confirmed > button:hover {
  color: whitesmoke;
  background-color: #002ead;
  transition: 0.7s;
}
section > .status_passed > button {
  border-radius: 10px;
  width: 7rem;
  height: 5rem;
}
section > .status_passed > button:hover {
  color: whitesmoke;
  background-color: #002ead;
  transition: 0.7s;
}
section > .status_cancle > button {
  border-radius: 10px;
  width: 7rem;
  height: 5rem;
}
section > .status_cancle > button:hover {
  color: whitesmoke;
  background-color: #002ead;
  transition: 0.7s;
}

table {
  width: 1100px;
}
table > tbody {
  height: 800px;
}
table th.table_status {
  cursor: pointer;
}

.paging {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

footer {
  height: 90px;
  border: 1px solid black;
  padding: 20px 0;
}

/* modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: none;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal.show {
  display: block;
}

.modal_body {
  position: fixed;
  top: 10%;
  left: 50%;

  width: 800px;
  height: 700px;

  padding: 40px;

  text-align: center;

  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

  transform: translate(-50%) translateY(-5%);
}

.modal_header {
  display: flex;
  height: 20%;
  border-radius: 15px;
}
.modal_header.room_pic {
  height: 100%;
  border: 1px solid black;
  flex-grow: 1;
}
.modal_header.booking_info {
  height: 100%;
  border: 1px solid black;
  flex-grow: 2;
  display: block;
}
.booking_info.user {
  height: 50%;
  padding: 5px;
}

.modal_article {
  display: block;
  padding: 5px 0;
  height: 65%;
}
.modal_article.booking_detail {
  height: 50%;
  border: 1px solid black;
}
.modal_article.booking_require {
  border: 1px solid black;
  height: 50%;
}

.modal_bottom {
  height: 15%;
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
.modal_bottom > button {
  border-radius: 15px;
  width: 50%;
}
