<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.with.hyuil.dao.BookMapper">
	<insert id="insertBook" parameterType="BookAddDto">
		INSERT INTO BOOK(ID, USER_ID, HOTEL_ROOM_ID, PLEASE, CHECK_IN, CHECK_OUT, STATUS, ORDER_ID)
		 VALUES(seq_book.nextval, #{userId}, #{roomId}, #{please}, #{checkIn}, #{checkOut}, #{status}, #{orderId})
	</insert>
    <select id="findById" resultType="BookVo" parameterType="Long">
        SELECT *
        FROM BOOK
        WHERE ID = #{id, jdbcType=VARCHAR}
    </select>
    <select id="findAllByUserId" resultType="BookListDto" parameterType="BookSearchDto">
        SELECT *
        FROM (SELECT A.*, ROWNUM AS RNUM, COUNT(*) OVER () AS TOTCNT
              FROM (
                       SELECT B.ID, H.NAME AS HOTEL, B.COUNT, TO_CHAR(B.CHECK_IN, 'YYMMDD') AS CHECK_IN,
                              TO_CHAR(B.CHECK_OUT, 'YYMMDD') AS CHECK_OUT, R.NAME ROOM, B.PLEASE
                       FROM HOTEL H, BOOK B, ROOM R, ORDERS O
                       WHERE H.ID = R.HOTEL_ID
                         AND R.ID = B.HOTEL_ROOM_ID
                         AND B.USER_ID = #{userId, jdbcType=VARCHAR}
                         AND B.STATUS = #{status}
                         AND B.ORDER_ID = O.ID
                       ORDER BY B.CHECK_IN) A)
        WHERE RNUM >= #{viewPage}
          AND RNUM &lt;= #{limit}
        ORDER BY ID
    </select>
    <select id="countForBookList" resultType="Integer" parameterType="BookSearchDto">
        SELECT COUNT(*)
        FROM (SELECT A.*, ROWNUM AS RNUM, COUNT(*) OVER () AS TOTCNT
              FROM (
                       SELECT B.ID, H.NAME AS HOTEL, B.COUNT, TO_CHAR(B.CHECK_IN, 'YYMMDD') AS CHECK_IN,
                              TO_CHAR(B.CHECK_OUT, 'YYMMDD') AS CHECK_OUT, R.NAME ROOM, B.PLEASE
                       FROM HOTEL H, BOOK B, ROOM R, ORDERS O
                       WHERE H.ID = R.HOTEL_ID
                         AND R.ID = B.HOTEL_ROOM_ID
                         AND B.USER_ID = #{userId, jdbcType=VARCHAR}
                         AND B.STATUS = #{status}
                         AND B.ORDER_ID = O.ID
                       ORDER BY B.CHECK_IN) A)
        WHERE RNUM >= #{viewPage}
          AND RNUM &lt;= #{limit}
    </select>
    <select id="findAllForHostInfo" resultType="HostBookListDto" parameterType="BookSearchDto">
        SELECT *
        FROM (SELECT A.*, ROWNUM AS RNUM, COUNT(*) OVER () AS TOTCNT
              FROM (
                       SELECT B.ID, R.NAME ROOM, U.NAME, B.COUNT, TO_CHAR(B.CHECK_IN, 'YYMMDD') AS CHECK_IN,
                              TO_CHAR(B.CHECK_OUT, 'YYMMDD') AS CHECK_OUT, B.PLEASE
                       FROM HOTEL H, BOOK B, ROOM R, USERS U
                       WHERE B.HOTEL_ROOM_ID = R.ID
                         AND B.USER_ID = U.ID
                         AND H.USER_ID = #{userId, jdbcType=VARCHAR}
                         AND B.STATUS = #{status}
                         <choose>
                         <when test='status.toString() eq "CANCEL"'>AND B.REMOVE_DATE IS NOT NULL</when>
                         <otherwise>AND B.REMOVE_DATE IS NULL</otherwise>
                         </choose>
                       GROUP BY B.ID, R.NAME, U.NAME, B.COUNT, B.CHECK_IN, B.CHECK_OUT, B.PLEASE
                       ORDER BY B.CHECK_IN)A)
        WHERE RNUM >= #{viewPage}
          AND RNUM &lt;= #{limit}
    </select>
    <select id="countForAdminBook" resultType="Integer" parameterType="AdminPageDto">
        SELECT COUNT(*)
        FROM (SELECT A.*, ROWNUM AS RNUM, COUNT(*) OVER () AS TOTCNT
              FROM (
                       SELECT B.ID, U.USER_ID, H.NAME HOTEL,
                              TO_CHAR(O.ORDER_DATE, 'YYYY-MM-DD HH24:MI:SS') ORDER_DATE,
                              TO_CHAR(B.CHECK_IN, 'YYMMDD') AS CHECK_IN,
                              TO_CHAR(B.CHECK_OUT, 'YYMMDD') AS CHECK_OUT,
                              B.STATUS
                       FROM BOOK B, HOTEL H, ORDERS O, USERS U, ROOM R
                       WHERE R.ID = B.HOTEL_ROOM_ID
                         AND U.ID = O.USER_ID
                         AND U.ID = B.USER_ID
                         AND H.ID = R.HOTEL_ID
                         AND O.ID = B.ORDER_ID
                       GROUP BY U.USER_ID, H.NAME, O.ORDER_DATE, B.STATUS, B.ID, B.CHECK_IN, B.CHECK_OUT
                       ORDER BY B.ID DESC)A)
        WHERE RNUM >= #{viewPage}
          AND RNUM &lt;= #{limit}
    </select>
    <select id="findAllForAdmin" resultType="AdminBookListDto" parameterType="AdminPageDto">
        SELECT *
        FROM (SELECT A.*, ROWNUM AS RNUM, COUNT(*) OVER () AS TOTCNT
              FROM (
                       SELECT B.ID, U.USER_ID, H.NAME HOTEL,
                              TO_CHAR(O.ORDER_DATE, 'YYYY-MM-DD HH24:MI:SS') ORDER_DATE,
                              TO_CHAR(B.CHECK_IN, 'YYMMDD') AS CHECK_IN,
                              TO_CHAR(B.CHECK_OUT, 'YYMMDD') AS CHECK_OUT,
                              B.STATUS
                       FROM BOOK B, HOTEL H, ORDERS O, USERS U, ROOM R
                       WHERE R.ID = B.HOTEL_ROOM_ID
                         AND U.ID = O.USER_ID
                         AND U.ID = B.USER_ID
                         AND H.ID = R.HOTEL_ID
                         AND O.ID = B.ORDER_ID
                       GROUP BY U.USER_ID, H.NAME, O.ORDER_DATE, B.STATUS, B.ID, B.CHECK_IN, B.CHECK_OUT
                       ORDER BY B.ID DESC)A)
        WHERE RNUM >= #{viewPage}
          AND RNUM &lt;= #{limit}
    </select>
    <select id="countForHostInfo" resultType="Integer" parameterType="BookSearchDto">
        SELECT COUNT(*)
        FROM (SELECT A.*, ROWNUM AS RNUM, COUNT(*) OVER () AS TOTCNT
              FROM (
                       SELECT B.ID, R.NAME ROOM, U.NAME, B.COUNT, TO_CHAR(B.CHECK_IN, 'YYMMDD') AS CHECK_IN,
                              TO_CHAR(B.CHECK_OUT, 'YYMMDD') AS CHECK_OUT, B.PLEASE
                       FROM HOTEL H, BOOK B, ROOM R, USERS U
                       WHERE B.HOTEL_ROOM_ID = R.ID
                         AND B.USER_ID = U.ID
                         AND H.USER_ID = #{userId, jdbcType=VARCHAR}
                         AND B.STATUS = #{status}
                         AND B.REMOVE_DATE IS NULL
                       GROUP BY B.ID, R.NAME, U.NAME, B.COUNT, B.CHECK_IN, B.CHECK_OUT, B.PLEASE
                       ORDER BY B.CHECK_IN)A)
        WHERE RNUM >= #{viewPage}
          AND RNUM &lt;= #{limit}
    </select>
    <update id="updateRemoveDate" parameterType="Long">
        UPDATE BOOK
        SET REMOVE_DATE = SYSDATE, STATUS = 'CANCEL'
        WHERE ID = #{id, jdbcType=VARCHAR}
    </update>
    <select id="findBookForReview" parameterType="ReviewBookDto" resultType="BookVo">
        SELECT B.ID
        FROM BOOK B, ROOM R
        WHERE B.USER_ID = #{userId}
          AND R.HOTEL_ID = #{hotelId}
          AND B.REVIEW_ID IS NULL
        GROUP BY B.ID
    </select>
    <update id="updateReviewId" parameterType="ReviewVo">
        UPDATE BOOK
        SET REVIEW_ID = #{id, jdbcType=VARCHAR}
        WHERE USER_ID = #{userId, jdbcType=VARCHAR}
    </update>
    <update id="updateStatus" parameterType="HostBookListDto">
        UPDATE BOOK
        SET STATUS = #{status}
        WHERE ID = #{id}
    </update>
</mapper>