<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.with.hyuil.dao.FileMapper">
	<resultMap type="FileVo" id="filevo">
		<result property="id" column="id"/>
		<result property="type" column="type"/>
		<result property="name" column="name"/>
		<result property="uuid" column="uuid"/>
		<result property="path" column="path"/>
		<result property="size" column="size"/>
		<result property="removed" column="removed"/>
		<result property="hotel_info_id" column="hotel_info_id"/>
		<result property="room_id" column="room_id"/>
	</resultMap>
	
	<insert id="uploadFile" parameterType="FileVo">
	insert into files values (seq_files.nextval, #{type}, #{name}, #{uuid}, #{path}, #{size}, null, #{hotel_info_id}, null)
	</insert>
</mapper>