<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.with.hyuil.dao.HotelinfoMapper">
	<resultMap type="HotelInfoVo" id="hotelinfovo">
		<result property="id" column="id"/>
		<result property="traffic" column="traffic"/>
		<result property="intro" column="intro"/>
		<result property="spot" column="spot"/>
		<result property="policy" column="policy"/>
		<result property="checkIn" column="checkIn"/>
		<result property="checkOut" column="checkOut"/>
	</resultMap>

	<insert id="insertInfo" parameterType="HotelInfoVo">
		<selectKey keyProperty="id" resultType="long" order="BEFORE">
			select seq_hotelinfo.nextval from dual
		</selectKey>
		insert into hotel_info values(#{id}, #{traffic}, #{intro}, #{spot}, #{policy}, #{checkIn}, #{checkOut})
	</insert>

	<select id="findByInfoId" parameterType="long" resultType="HotelInfoVo">
		select * from hotel_info where id = #{hotelId}
	</select>
</mapper>