<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.with.hyuil.dao.OrdersMapper">
	<resultMap type="OrdersVo" id="ordersvo">
		<result property="id" column="ID"/>
		<result property="userId" column="USER_ID"/>
		<result property="totalPrice" column="TOTAL_PRICE"/>
		<result property="orderDate" column="ORDER_DATE"/>
		<result property="checkin" column="CHECKIN"/>
		<result property="checkout" column="CHECKOUT"/>
		<result property="hostId" column="HOST_ID"/>
		<result property="tid" column="TID"/>
		<result property="userName" column="USER_NAME"/>
		<result property="hotel" column="HOTEL"/>
		<result property="room" column="ROOM"/>
		<result property="pgToken" column="PG_TOKEN"/>
	</resultMap>
	
	<insert id="insertOrders" parameterType="OrdersVo">
		<selectKey keyProperty="id" resultType="long" order="BEFORE">
			select seq_orders.nextval from dual
		</selectKey>
		INSERT INTO ORDERS
		 (ID, USER_ID, TOTAL_PRICE, ORDER_DATE, CHECKIN, CHECKOUT, HOST_ID, TID, USER_NAME, HOTEL, ROOM, PG_TOKEN)
		  VALUES
		   (#{id}, #{userId}, #{totalPrice}, sysdate, #{checkin}, #{checkout}, #{hostId}, #{tid}, #{userName}, #{hotel}, #{room}, #{pgToken}) 
	</insert>
	
	<select id="findByHostId" parameterType="Long" resultType="Map">
		SELECT ID, USER_ID, TOTAL_PRICE, ORDER_DATE, TO_CHAR(checkin, 'YYYY-MM-DD') AS CHECKIN, 
		TO_CHAR(checkout, 'YYYY-MM-DD') AS CHECKOUT, HOST_ID, TID, USER_NAME, HOTEL, ROOM, PG_TOKEN
		FROM ORDERS WHERE HOST_ID = #{hostId} AND REMOVE_DATE IS NULL
	</select>
	
	<select id="findByToken" parameterType="String" resultType="OrdersVo">
		SELECT * FROM ORDERS WHERE PG_TOKEN = #{pgToken} AND REMOVE_DATE IS NULL
	</select>

	<update id="delOrder" parameterType="OrdersVo">
		UPDATE ORDERS SET REMOVE_DATE = sysdate WHERE ID = #{id}
	</update>

	<select id="selectAllPrice" resultType="Integer">
		SELECT SUM(TOTAL_PRICE) TOTAL_PRICE
		FROM ORDERS
	</select>


</mapper>