<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.with.hyuil.dao.RoomMapper">
	<resultMap type="RoomVo" id="roomvo">
		<result property="id" column="id"/>
		<result property="hotel_id" column="hotel_id"/>
		<result property="name" column="name"/>
		<result property="content" column="content"/>
		<result property="max" column="max"/>
		<result property="bed" column="bed"/>
		<result property="n_price" column="normal_price"/>
		<result property="h_price" column="holiday_price"/>
		<result property="admin_id" column="admin_check_id"/>
	</resultMap>
	
	<insert id="insertRoom" parameterType="RoomVo">
		insert into room
		(id, hotel_id, name, content, max, bed, normal_price, holiday_price)
		values
		(seq_room.nextval, #{hotel_id}, #{name}, #{content}, #{max}, #{bed}, #{n_price}, #{h_price})
	</insert>
</mapper>