<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.with.hyuil.dao.UsersMapper">
    <insert id="insertUser" parameterType="UsersVo">
        INSERT INTO USERS
        ( ID, USER_ID, PASSWORD, EMAIL, TEL, NAME, WHERES, JOIN_DATE, LAST_LOGIN, TYPE )
        VALUES
            ( USERS_SEQ.NEXTVAL, #{userId}, #{password}, #{email}, #{tel}, #{name}, #{wheres}, SYSDATE, SYSDATE, #{type} )
    </insert>
    <insert id="insertAdmin" parameterType="UsersVo">
        INSERT INTO USERS
            ( ID, USER_ID, PASSWORD, NAME, JOIN_DATE, LAST_LOGIN, TYPE )
        VALUES
            ( ADMIN_SEQ.NEXTVAL, #{userId}, #{password}, #{name}, SYSDATE, SYSDATE, #{type} )
    </insert>
    <insert id="insertHost" parameterType="UsersVo">
        INSERT INTO USERS
        ( ID, USER_ID, PASSWORD, EMAIL, TEL, NAME, WHERES, JOIN_DATE, LAST_LOGIN, BUSINESS_ID, TYPE )
        VALUES
            ( USERS_SEQ.NEXTVAL, #{userId}, #{password}, #{email}, #{tel}, #{name}, #{wheres}, SYSDATE, SYSDATE, #{businessVo.id, jdbcType=VARCHAR}, #{type} )
    </insert>
    <insert id="insertBusiness" parameterType="BusinessVo">
        INSERT INTO BUSINESS
            ( ID, ACCOUNT, BANK_NUMBER, BANK )
        VALUES
            ( BUSINESS_SEQ.NEXTVAL, #{account}, #{bankNumber}, #{bank} )
    </insert>
    <insert id="insertRoles" parameterType="RolesVo">
        INSERT INTO ROLES
            ( ID, ROLE_NAME, USER_ID )
        VALUES
            ( ROLES_SEQ.NEXTVAL, #{roleName}, #{usersVo.id, jdbcType=VARCHAR} )
    </insert>
    <insert id="insertWhyDelete" parameterType="DeleteDto">
        INSERT INTO WHY_DELETE
            ( ID, PRIVACY, OTHER_SITE, HATE, JOIN_AGAIN, ETC )
        VALUES
            ( SEQ_WHY_DELETE.NEXTVAL, #{privacy}, #{otherSite}, #{hate}, #{joinAgain}, #{etc} )
    </insert>
    <select id="count" resultType="Integer">
        SELECT COUNT(*)
        FROM USERS
    </select>
    <select id="findBusinessByAccount" parameterType="String" resultType="BusinessVo">
        SELECT *
        FROM BUSINESS
        WHERE ACCOUNT = #{account}
    </select>
    <select id="findByNameEmail" parameterType="FindIdDto" resultType="UsersVo">
        SELECT *
        FROM USERS
        WHERE EMAIL = #{email} AND NAME = #{name}
    </select>
    <select id="findByTel" parameterType="FindIdDto" resultType="UsersVo">
        SELECT *
        FROM USERS
        WHERE TEL = #{tel}
    </select>
    <select id="findByBusinessId" parameterType="Long" resultType="BusinessVo">
        SELECT *
        FROM BUSINESS
        WHERE ID = #{id, jdbcType=VARCHAR}
    </select>
    <select id="findByUserId" parameterType="String" resultType="UsersVo">
        SELECT *
        FROM USERS
        WHERE USER_ID = #{userId}
    </select>
    <select id="findByUserIdAndPassword" parameterType="String" resultType="UsersVo">
        SELECT *
        FROM USERS
        WHERE USER_ID = #{userId} AND PASSWORD = #{password}
    </select>
    <select id="findRoles" parameterType="Long" resultType="RolesVo">
        SELECT *
        FROM ROLES
        WHERE USER_ID = #{userId, jdbcType=VARCHAR}
    </select>
    <update id="updateLastLogin" parameterType="String">
        UPDATE USERS
        SET LAST_LOGIN = SYSDATE
        WHERE USER_ID = #{userId}
    </update>
    <update id="updateForDelete" parameterType="Map">
        UPDATE USERS
        SET REMOVE_DATE = SYSDATE, OUT = #{out}
        WHERE USER_ID = #{userId}
    </update>
    <select id="findByUserIdEmail" parameterType="EmailDto" resultType="UsersVo">
        SELECT *
        FROM USERS
        WHERE USER_ID = #{userId} AND EMAIL = #{email}
    </select>
    <update id="updateEmail" parameterType="EmailDto">
        UPDATE USERS
        SET EMAIL = #{newEmail}
        WHERE USER_ID = #{userId}
    </update>
    <update id="updatePassword" parameterType="PasswordDto">
        UPDATE USERS
        SET PASSWORD = #{newPassword}
        WHERE USER_ID = #{userId}
    </update>
</mapper>