<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.with.hyuil.dao.UsersMapper">
    <insert id="insertUser" parameterType="UsersVo">
        INSERT INTO USERS
            ( ID, USER_ID, PASSWORD, EMAIL, TEL, NAME, WHERES, ROLE, JOIN_DATE, LAST_LOGIN )
        VALUES
            ( USERS_SEQ.NEXTVAL, #{userId}, #{password}, #{email}, #{tel}, #{name}, #{wheres}, #{role}, SYSDATE, SYSDATE )
    </insert>
    <insert id="insertAdmin" parameterType="AdminVo">
        INSERT INTO ADMIN
            ( ID, ADMIN_ID, PASSWORD, NAME, JOIN_DATE, LAST_LOGIN, ROLE )
        VALUES
            ( ADMIN_SEQ.NEXTVAL, #{adminId}, #{password}, #{name}, SYSDATE, SYSDATE, #{role}  )
    </insert>
    <select id="count" resultType="Integer">
        SELECT COUNT(*)
        FROM USERS
    </select>
</mapper>